body {
    font-size: 20px;
    background-color: beige;
    margin: 0px;
    
}




nav{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    margin-top: 0;
    position:fixed;
    width: 100%;
    padding: 10px;

}

#navRight{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navContent{
    text-decoration: none;
    
    margin-left: 10px;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
}
a:hover  {
    color: blue;
    font-size: 25px;


}

#firstPage {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;

}

h1, h2 ,h3{
    text-align: center;

}


.container{
    width: 700px;
}

#pageTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
}